@model e_commerce.Models.AnasayfaVM

@*@model Entities.products*@

@{
    ViewBag.Title = "AnaSayfa";
}
@*<div class="container">
        <h2>Ürün Detayı</h2>

        <div class="col-lg-10">
            <img src="" alt="" class="img-thumbnail" />
            <h2>2</h2>
            <p> TL</p>
            <p>3</p>

        </div>
    </div>*@

<body style="background-color: #133161; ">

</body>


<div class="row text-center">
    @foreach (var item in Model.products)
    {
        <div class="col-lg-4 center">
            <img src="~/Img/@item.photo" alt="" height="150" />
            <h2>@item.product_name</h2>
            <p>@item.product_description</p>
            <p><a class="btn btn-secondary" href="/Home/product_detail/@item.Id">Details</a></p>
        </div>

    }
</div>

<hr />
  
<div class="row text-center">
    <p style="color:red;" >Our brands that We have</p>
    <hr />

    @foreach (var item in Model.brands)
    {
        <div class="col-lg-4 ">

            <p style="color:white;">@item.brand_name</p>


        </div>

    }
</div>



<div class="sidenav">
    @foreach (var item in Model.categories)
    {


        <dl>

            <dt>
                <a href="/Home/categories/@item.Id"> @Html.DisplayFor(modelItem => item.category_name)</a>

            </dt>

        </dl>

    }
</div>


<style>
    body {
        font-family: "Lato", sans-serif;
    }

    .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 100px;
    }


    .row {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #0e8d96;
        padding-top: 100px;
    }



    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .main {
        margin-left: 160px; /* Same as the width of the sidenav */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
        margin-top: 150px;
    }
</style>


@* <div class="container">
        <h2>@Model.product_name Ürün Detayı</h2>

        <div class="col-lg-10">
            <img src="~/Img/@Model.photo" alt="" class="img-thumbnail" />
            <h2>@Model.product_name</h2>
            <p>@Model.product_name TL</p>
            <p>@Model.product_name</p>

        </div>
    </div>*@
@*<div class="container-fluid ">
        <h2 class="text-center display-4">Goods for Goods just like you.</h2>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form action="simple-results.html">
                    <div class="input-group col-lg-12" style="width:100%">
                        <input type="search" class="form-control form-control-lg" placeholder="Type your keywords heresssd" style="width:100%">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-lg btn-default">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <form class="example" action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>

    <div class="input-group col-lg-12">
        <input name="searchtext" style="width:100%" value="" class="form-control" type="text">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit" id="addressSearch">
                <span class="icon-search"></span>
            </button>
        </span>
    </div>





    <style>
        body {
            font-family: Arial;
        }

        * {
            box-sizing: border-box;
        }
    </style>*@

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@
